<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if genres %}
<div class="genres">
{% for genre in genres %}
    <br>
    <tr></tr>

    <div class="genre-name">{{ genre.name }}</div>
    <div class="genre-desc">{{genre.desc}}</div>
    <br>
    {% for film in genre.films %}
    <div class="film">
        <div class="film-name">{{film.name}}</div>
    </div>
    {% empty %}
    {% endfor %}
{% empty %}
    <div class="no-genres">No genres</div>
{% endfor %}
</div>
{% endif %}
</body>
</html>