* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    background: #1C1D1F;
}

.page_menu_atlas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #1C1D1F;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.25);
}

.page_menu_atlas .menu_links_seacrh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70px;
}

.page_menu_atlas .menu_links_seacrh .menu_logotype {
    margin-right: 20px;
}

.page_menu_atlas .menu_links_seacrh .menu_logotype a {
    color: #FFFFFF;
}

.page_menu_atlas .menu_links_seacrh .menu_logotype a span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.page_menu_atlas .menu_links_seacrh .menu_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-right: 20px;
}

.page_menu_atlas .menu_links_seacrh .menu_links a {
    margin-right: 10px;
}

.page_menu_atlas .menu_links_seacrh .menu_links a span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}

.page_menu_atlas .menu_links_seacrh .menu_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 30px;
}

.page_menu_atlas .menu_links_seacrh .menu_search input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 30px;
    background: #252A2C;
    border-radius: 90px;
    border: none;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1px;
}