<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main_page_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="page_menu_atlas">
    <div class="menu_links_seacrh">
        <div class="menu_logotype">
            <a href="Atlas_main_page.html">
                <span>
                    FilmAtlas
                </span>
            </a>
        </div>
        <div class="menu_links">
            <a href="">
                <span>
                    Подборки
                </span>
            </a>
            <a href="">
                <span>
                    Жанры
                </span>
            </a>
            <a href="">
                <span>
                    Фильмы
                </span>
            </a>
            <a href="">
                <span>
                    Сериалы
                </span>
            </a>
            <a href="">
                <span>
                    Мультфимы
                </span>
            </a>
            <a href="">
                <span>
                    Аниме
                </span>
            </a>
        </div>
        <div class="menu_search">
            <input type="text" placeholder="Поиск по сайту">
        </div>
    </div>
</div>
<div class="all_content_atlas">
    <div class="all_content_left_block">
        <div class="best_films_img_descript">
            <img class="best_films_img" src="/img/Rectangle0.png" alt="">
            <span class="best_films_descript">
                Мы собрали для Вас подборку лучших фильмов по теме “{название подборки}” с рейтингом от {минимальный рейтинг фильмов из подборки} и до {максимальный рейтинг фильмов из подборки}. В неё вошли фильмы следующих жанров: {жанр1}({число раз}), {жанр2}({число раз}), {жанр3}({число раз}). Самый новый фильм - {год} года, самый старый фильм - {год} года. Продолжительность фильмов от {минимальная продолжительность} до {максимальная продолжительность}. Выбирайте фильм и приятного просмотра!
            </span>
        </div>
        <div class="best_compilation_movies">
            <div class="named_best_compilation_movies">
                <span>
                    Лучшие фильмы подборки
                </span>
            </div>
            <div class="best_compilation_movies_border"></div>
            <div class="best_compilation_movies_slider_btn">
                <div class="best_compilation_movies_slider">
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="" alt="">
                        <span>
                            Name
                        </span>
                        <span>
                            year,ganre,country
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="all_content_right_block"></div>
</div>
<div class="footer_connection_atlas"></div>
</body>
</html>