<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main_page_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<div class="page_menu_atlas">
    <div class="menu_links_seacrh">
        <div class="menu_logotype">
            <a href="Atlas_main_page.html">
                <span>
                    FilmAtlas
                </span>
            </a>
        </div>
        <div class="menu_links">
            <a href="">
                <span>
                    Подборки
                </span>
            </a>
            <a href="">
                    <span>
                        Жанры
                    </span>
            </a>
            <a href="">
                    <span>
                        Фильмы
                    </span>
            </a>
            <a href="">
                    <span>
                        Сериалы
                    </span>
            </a>
            <a href="">
                    <span>
                        Мультфимы
                    </span>
            </a>
            <a href="">
                    <span>
                        Аниме
                    </span>
            </a>
        </div>
        <div class="menu_search">
            <input type="text" placeholder="Поиск по сайту">
        </div>
    </div>
</div>
<div class="all_content_atlas"></div>
<div class="footer_connection_atlas"></div>
</body>
</html>