<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main_page_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<div class="page_menu_atlas">
    <div class="menu_links_seacrh">
        <div class="menu_logotype">
            <a href="Atlas_main_page.html">
                <span>
                    FilmAtlas
                </span>
            </a>
        </div>
        <div class="menu_links">
            <a href="">
                <span>
                    Подборки
                </span>
            </a>
            <a href="">
                <span>
                    Жанры
                </span>
            </a>
            <a href="">
                <span>
                    Фильмы
                </span>
            </a>
            <a href="">
                <span>
                    Сериалы
                </span>
            </a>
            <a href="">
                <span>
                    Мультфимы
                </span>
            </a>
            <a href="">
                <span>
                    Аниме
                </span>
            </a>
        </div>
        <div class="menu_search">
            <input type="text" placeholder="Поиск по сайту">
        </div>
    </div>
</div>

<div class="all_content_atlas">
    <div class="all_content_left_block">
        <div class="best_films_img_descript">
            <img class="best_films_img" src="/static/img/poster1.jpg" alt="">
            <span class="best_films_descript">
                Мы собрали для Вас подборку лучших фильмов по теме “{название подборки}” с рейтингом от {минимальный рейтинг фильмов из подборки} и до {максимальный рейтинг фильмов из подборки}. В неё вошли фильмы следующих жанров: {жанр1}({число раз}), {жанр2}({число раз}), {жанр3}({число раз}). Самый новый фильм - {год} года, самый старый фильм - {год} года. Продолжительность фильмов от {минимальная продолжительность} до {максимальная продолжительность}. Выбирайте фильм и приятного просмотра!
            </span>
        </div>

        <div class="best_compilation_movies">
            <div class="named_best_compilation_movies">
                <span>
                    Лучшие фильмы подборки
                </span>
            </div>
            <div class="best_compilation_movies_border"></div>
            <div class="best_compilation_movies_slider_btn">
                <div class="best_compilation_movies_slider">
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="/static/img/1film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="/static/img/2film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="/static/img/3film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="/static/img/4film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="best_compilation_movies_img_name_other_film">
                        <img src="/static/img/5film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="new_movies_compilation">
            <div class="named_new_movies_compilation">
                <span>
                    Новые фильмы подборки
                </span>
            </div>
            <div class="new_movies_compilation_border"></div>
            <div class="new_movies_compilation_slider_btn">
                <div class="new_movies_compilation_slider">
                    <div class="new_movies_compilation_img_name_other_film">
                        <img src="/static/img/1film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="new_movies_compilation_img_name_other_film">
                        <img src="/static/img/2film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="new_movies_compilation_img_name_other_film">
                        <img src="/static/img/3film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="new_movies_compilation_img_name_other_film">
                        <img src="/static/img/4film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                    <div class="new_movies_compilation_img_name_other_film">
                        <img src="/static/img/5film.jpg" alt="">
                        <span class="named_film">
                            Name
                        </span>
                        <span class="film_info">
                            year, ganre, country
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="high_rated_movies">
            <div class="high_rated_movies_common_block">
                <div class="high_rated_movies_img_rating">
                    <span>
                        01
                    </span>
                    <img src="/static/img/1film.jpg" alt="">
                    <div class="films_rating_block">
                        <div class="rating_block rating_kinopoisk">
                        <span class="rating_votes">
                            6.7
                        </span>
                            <span class="rating_site_names">
                            Кинопоиск
                        </span>
                        </div>
                        <div class="rating_block rating_IMDb">
                        <span class="rating_votes">
                            6.7
                        </span>
                            <span class="rating_site_names">
                            IMDb
                        </span>
                        </div>
                    </div>
                </div>
                <div class="high_rated_movies_named_descript">
                    <div class="named_year_release_film_block">
                        <span>
                            Шан-Чи и легенда десяти колец (2021)
                        </span>
                        <span>
                            Shang-Chi and the Legend of the Ten Rings
                        </span>
                    </div>
                    <div class="duration_age_block"></div>
                    <div class="genre_main_roles_block"></div>
                    <div class="main_descript_film_block"></div>
                </div>
            </div>

            <div class="high_rated_movies_common_block">
                <div class="high_rated_movies_img_rating">
                    <span>
                        02
                    </span>
                    <img src="/static/img/2film.jpg" alt="">
                    <div class="films_rating_block">
                        <div class="rating_block rating_kinopoisk">
                        <span class="rating_votes">
                            6.7
                        </span>
                            <span class="rating_site_names">
                            Кинопоиск
                        </span>
                        </div>
                        <div class="rating_block rating_IMDb">
                        <span class="rating_votes">
                            6.7
                        </span>
                            <span class="rating_site_names">
                            IMDb
                        </span>
                        </div>
                    </div>
                </div>
                <div class="high_rated_movies_named_descript">
                    <div class="named_year_release_film_block">
                        <span class="named_rus">
                             Гениальное ограбление (2021)
                        </span>
                        <span class="named_eng">
                             Way Down
                        </span>
                    </div>
                    <div class="duration_age_block">
                        <div class="duration_age_info movie_duration">
                            <span>
                                Продолжительность
                            </span>
                            <span>
                                1 Час 58 минут
                            </span>
                        </div>
                        <div class="duration_age_info release_date">
                            <span>
                                Год выпуска
                            </span>
                            <span>
                                2021
                            </span>y
                                Премьера в России
                            </span>
                            <span>
                                22 Апреля 2021
                            </span>
                        </div>
                        <div class="duration_age_info age_restriction">
                            <span>
                                Возраст
                            </span>
                            <span>
                                16+
                            </span>
                        </div>
                    </div>
                    <div class="genre_main_roles_block"></div>
                    <div class="main_descript_film_block"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="all_content_right_block"></div>
</div>
<div class="footer_connection_atlas"></div>
</body>
</html>